on:
  push:
    branches: [ main ]

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          lfs: true # CRITICAL: This pulls your high-res LFS images

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      # Add steps here to install R or Python if your site uses code chunks

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}